
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="#" id="boton1" onclick="mensaje(this.id);">Buscar</a> 
<br />
<a href="/Home/Lista" id="boton2">Lista</a> 

@section ScriptPagina {
    
    <script type="text/javascript">
        function mensaje(id) {
            alert("Click : " + id);
        }
    </script>
    
    }


